html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

/* ----- HEADER CSS STARTS ---- */

header li {
  list-style: none;
}

header a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  width: 100%;
}

.main-head {
  background-color: #E0CCE4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 16px 24px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 112px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
}

.main-head a, .foot li a {
  transition: all 200ms ease-in-out;
}

.main-head a:hover,
.foot li > a:hover, 
.foot > p:hover {
  opacity: 0.5;
}

.head-logo li {
  width: 45px;
  height: 45px;
}

.head1, .head1-tooltip {
  display: flex;
  align-items: center;
  padding: 16px 48px;
  gap: 56px;
  width: 578px;
  color: #000;
}

.head1-generate a, .generate a,
.main-foot-generate a {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 8px;
}

.head1-generate, .main-foot-generate {
  position: relative;
}

.head1-generate:hover .dropdown,
.main-foot-generate:hover .dropdown,
.generate:hover .dropdown {
  animation: dropdown 0.2s ease-in-out infinite;
}

@keyframes dropdown {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
} 

.generate-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 67.5px;
  left: -100px;
  background-color: #FFF6F6;
  width: 320px;
  box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2);
  white-space: initial;
  z-index: -1;
  padding: 15px 25px;
  padding-top: 5;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.generate-policy, .generate-tandc {
  float: left;
  margin: 0;
  padding: 0;
  color: #480853;
  opacity: 0.8;
  text-align: left;
  padding: 20px 10px;
  border-radius: 8px;
}

.generate-items p {
  font-size: 12px;
  line-height: 16px;
}

.generate-items h5 {
  line-height: 13px;
}

.head1-generate:hover .generate-items,
.main-foot-generate:hover .foot-genItems {
  visibility: visible;
}

.generate-items a:hover, 
.foot-genItems a:hover {
  opacity: 1;
  font-weight: 600;
  background-color: rgba(222, 200, 226, .25);
}

.head2, .head2-tooltip {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 48px;
  gap: 48px;
  width: 438px;
}

.head3 a, .log a  {
  width: 54px;
  height: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.head4 a {
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 41px;
  gap: 10px;
  width: 174px;
  height: 48px;
  background: #660077;
  transition: all 500ms ease-in-out;
}

.head4 a:hover, .get a:hover {
  opacity: 0.7;
  position: relative;
  bottom: 2px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 40px;
  width: 250px;
}

.visibility {
  visibility: hidden;  
  transition: all 0.1ms ease-in-out;
}

.menu-icon {
  font-size: 28px;
  visibility: hidden;  
}

.menu-icon:hover {
  font-size: 28.7px;
}

.head1-tooltip, 
.head2-tooltip {
  opacity: 0;
}

.x-icon {
  font-size: 16px;
  position: absolute;
  right: 12px;
  top: 68px;
  z-index: 4;
  opacity: 0;
}

.x-icon:hover {
  font-size: 17px;
}

/* ----- HEADER CSS ENDS ---- */


/* ----- FOOTER CSS STARTS ---- */

footer li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  width: 100%;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 32px 24px;
  width: 100%;
  /* height: 131px; */
  background-color: #040404;
  white-space: nowrap;
}

.main-logo1 {
  width: 45px;
  height: 45px;
}

.socials {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;
}

.main-foot {
  display: flex;
  align-items: center;
  padding: 16px 48px;
  gap: 24px;
}

.main-foot a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.main-foot-generate a:hover, 
.main-foot-generate p:hover {
  opacity: 1;
}

.foot-genItems {
  position: absolute;
  top: -222px;
  z-index: 2;
  box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.2);
}

.foot-genItems a {
  color: #480853;
}

.main-foot2 {
  padding: 16px 0;
}

.log a {
  color: #ffffff;
}

.get a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 12px 41px;
  background: #660077;
  border-radius: 8px;
}

/* ----- FOOTER CSS ENDS ---- */



@media (max-width: 1100px) {
  

  .menu-icon {
    visibility: visible;
  }

  .x-icon {
    opacity: 1;
  }

  .head1 {
    gap: 30px;
  }

  .head2 {
    display: none;
  }

  .head1-tooltip {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: -143px;
    opacity: 0;
  }

  .head2-tooltip {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 200px;
    margin: 0 auto;
    background-color: #E0CCE4;
    transition: all 0.1ms ease-in-out;
    width: 100%;
    opacity: 1;
  }

 /* .menu-bar:hover .head2-tooltip {
    visibility: visible;  
  } */

  .visible {
    visibility: visible;  
  }

  .foot {
    flex-direction: column;
    gap: 20px;
    }

  .foot-genItems {
    position: absolute;
    top: 25px;
    left: -50px;
    box-shadow: -1px 1px 2px rgba(131, 129, 129, 0.2);
    padding: 8px 8px;
    width: 280px;
    background-color: #040404;
    transition: all 0.1s ease-in-out;
    opacity: 1;
    }

  .main-foot .generate-policy, 
  .main-foot .generate-tandc {
    padding: 10px 5px;
    color: #E0CCE4;
    transition: all 0.1s ease-in-out;
  }

  .main-foot .generate-policy:hover, 
  .main-foot .generate-tandc:hover {
    background-color: #E0CCE4;
    color: #480853;
  }

}

@media (max-width: 900px) {

  .head1 {
    visibility: hidden;
  }

  .head1 .generate-items {
    display: none;
  }

  .head1-tooltip {
    transition: all 0.1ms ease-in-out;
    margin-top: 35px;
    z-index: 2;
    background-color: #E0CCE4;
    opacity: 1;
  }

  /* .menu-bar:hover .head1-tooltip {
    visibility: visible;  
  } */

  .menu-bar .generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 500ms ease-in-out;
  }

  .menu-bar .generate-items {
    padding: 15px 10px;
    padding-top: 5;
    width: 90%;
    position: absolute;
    top: 102px;
    left: 13px;
    visibility: hidden;
    opacity:0;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-in-out;
  }

   .menu-bar .generate:hover .generate-items {
    visibility: visible;
    opacity: 1;
   
  }

  .menu-bar .generate:hover {
    margin-bottom: 250px;
  }

}